@import "../app.component";

#about {
	@include animation-duration($animation-master);

	h1, h3, p { margin: 0; }

	.thin { font-weight: 300; }

	.about-tiles {
		margin-top: 50px;

		.row {
			margin-bottom: 150px;
			@media screen and (min-width: $screen-md) {
				align-items: center;
				display: flex;
			}
		}
	}

	.text {
		h3 {
			font-size: 30px;
			line-height: 46px;
			text-align: center;
			@media screen and (max-width: $screen-md) {
				margin: 50px 0 50px 0;
			}
		}

		.me {
			font-size: 60px;
			line-height: 100px;
			text-align: center;
			@media screen and (max-width: $screen-md) {
				margin-top: 150px;
			}
		}

		.travel, .cars {
			@media screen and (min-width: $screen-md) {
				margin-top: -40px;
			}
		}
	}
	
	.picture {
		img { width: 100%; }

		.caption {
			font-weight: 300;
			padding: 5px;
			text-align: center;
		}
	}
}

.show-med {
	@media screen and (min-width: $screen-md) {
		display: none;
	}
}

.hidden-med {
	@media screen and (max-width: $screen-md) {
		display: none;
	}
}

.page-title {
	@include animation-duration($animation-master);
}

.me-row {
	.picture {
		$me-delay: .1s;
		@include animation-delay($me-delay);
		@include animation-duration(0.1s);
	}

	.me {
		$me-text-delay: 0s;
		@include animation-delay($me-text-delay);
		@include animation-duration($animation-master - $me-text-delay);
	}
}

.school-row {
	$s-delay: .2s;
	@include animation-delay($s-delay);
	@include animation-duration($animation-master - $s-delay);
}

.travel-row{
	$t-delay: .3s;
	@include animation-delay($t-delay);
	@include animation-duration($animation-master - $t-delay);
}

.cars-row {
	$c-delay: .4s;
	@include animation-delay($c-delay);
	@include animation-duration($animation-master - $c-delay);
}

.noodles-row {
	$n-delay: .5s;
	@include animation-delay($n-delay);
	@include animation-duration($animation-master - $n-delay);
}
