<div id="about" class="row">
	<div class="col-xs-10 col-xs-offset-1">
		<h2 class="page-title" [ngClass]="loadAnimation">About Me</h2>
	</div>
	<div class="about-tiles col-xs-10 col-xs-offset-1 col-md-offset-0">
		<div class="row me-row">
			<div class="picture col-md-6" [ngClass]="myPicture">
				<img src="http://res.cloudinary.com/mattgoral/image/upload/v1483690120/me_bpqg7f.jpg">
			</div>
			<div class="text col-md-6">
				<h1 class="me" [ngClass]="hiText">I'm Matt<br/>I write code</h1>
			</div>
		</div>

		<div class="row school-row" [ngClass]="loadAnimation">
			<div class="text col-md-4">
				<h3 class="school">I studied Mechanical Engineering and Comparative Media Studies at MIT</h3>
			</div>
			<div class="picture col-md-8">
				<img src="http://res.cloudinary.com/mattgoral/image/upload/v1483686833/MIT_i7phbu.jpg">
			</div>
		</div>

		<div class="row travel-row" [ngClass]="loadAnimation">
			<div class="text col-md-4 col-sm-12 show-med">
				<h3 class="travel">I enjoy travel</h3>
			</div>
			<div class="picture col-md-4 col-sm-6">
				<img src="http://res.cloudinary.com/mattgoral/image/upload/v1483691841/alps_l5qyhk.jpg">
				<p class="caption">Snowboarding in Switzerland</p>
			</div>
			<div class="picture col-md-4 col-sm-6">
				<img src="http://res.cloudinary.com/mattgoral/image/upload/v1483691190/maui_dto8go.jpg">
				<p class="caption">Off roading in Maui</p>
			</div>
			<div class="text col-md-4 col-sm-12 hidden-med">
				<h3 class="travel">I enjoy travel</h3>
			</div>
		</div>

		<div class="row cars-row" [ngClass]="loadAnimation">
			<div class="text col-md-4 col-sm-12 show-med">
				<h3 class="cars">and cars</h3>
			</div>
			<div class="picture col-md-4 col-sm-6">
				<img src="http://res.cloudinary.com/mattgoral/image/upload/v1483690120/porsche_mozlyc.jpg">
				<p class="caption">Malibu canyon run</p>
			</div>
			<div class="picture col-md-4 col-sm-6">
				<img src="http://res.cloudinary.com/mattgoral/image/upload/v1483690120/ferrari_xrpnlp.jpg">
				<p class="caption">Track day in Vegas</p>
			</div>
			<div class="text col-md-4 col-sm-12 hidden-med">
				<h3 class="cars">and cars</h3>
			</div>
		</div>

		<div class="row noodles-row" [ngClass]="loadAnimation">
			<div class="text col-md-8">
				<h3 class="cars">but mostly noodles.</h3>
			</div>
			<div class="picture col-md-4 col-sm-6 col-sm-offset-3 col-md-offset-0">
				<img src="http://res.cloudinary.com/mattgoral/image/upload/v1483760123/noodles_vfx0tu.jpg">
			</div>
		</div>
	</div>
</div>
