<div id="about" class="row" [ngClass]="loadAnimation">
	<h2>about me</h2>
	<p>
		I am a user focused software engineer that has an obsession with efficient design.  I use Web 2.0 technologies to build innovative new ways to experience and interact with digital media.  I thrive in creative, cutting edge, and fast paced environments.<br/>

		As the lead UX engineer at Kensho, I was tasked with making the visualization and quantitative analysis of thousands of financial data points a smooth and friendly user experience.  As a result, users are able to draw meaningful conclusions in a matter of minutes, something that would take days to do with traditional software.  I managed my own projects from pencil wireframes to pixel perfect mockups to lighting fast front end JavaScript, HTML5, and CSS3.  During my tenure the company grew from 3 to 30 people, received funding from Google and Goldman Sachs, and increased in value from $500k to $150M.<br/>

		I’ve been on an extended vacation for the past year to travel and work on personal projects but I am now looking for new opportunities to bring new ideas to life and allow me to be creative and get my hands dirty working with all the moving parts of a project.
	</p>
</div>