<div id="contact" class="page row" [ngClass]="loadAnimation">
	<div class="col-xs-10 col-xs-offset-1">
		<h2 class="page-title">Get In Touch</h2>
	</div>
	<div class="col-xs-10 col-xs-offset-1 col-md-offset-0">
		<div class="row">	
			<div class="col-xs-12">
				<a class="link contact-link" href="mailto:m@ttgor.al" target="_blank">
					<h3 class="contact-link-text">
						<i class="fa fa-envelope"></i>
						m<span class="small-text">@</span>ttgor.al
					</h3>
				</a>
			</div>
		</div>
	</div>
	<div class="col-xs-10 col-xs-offset-1 col-md-offset-0">
		<div class="row">
			<div class="col-xs-12">
				<a class="link contact-link" href="https://www.linkedin.com/in/mattgoral" target="_blank">
					<h3 class="contact-link-text">
						<i class="fa fa-linkedin-square"></i>
						/mattgoral
					</h3>
				</a>
			</div>
		</div>
	</div>
</div>