@import "../app.component";

#contact {
	.contact-link-text {
		text-align: center;
		font-size: 80px;
		margin-top: 100px;

		.small-text {
			position: relative;
			top: 8px;
		}
	}

	.page-title {
		@include animation-duration($animation-master);
	}

	.mail-link {
		$mail-delay: .05s;
		@include animation-delay($mail-delay);
		@include animation-duration($animation-master - $mail-delay);
	}

	.linkedIn-link {
		$mail-delay: .1s;
		@include animation-delay($mail-delay);
		@include animation-duration($animation-master - $mail-delay);
	}
}