<div id="work" class="page row" [ngClass]="loadAnimation">
	<div class="col-xs-10 col-xs-offset-1">
		<h2 class="page-title">My Work</h2>
	</div>
	<section class="what-i-do col-xs-10 col-xs-offset-1 col-md-offset-0">
		<div class="row">
			<div class="col-xs-12">
				<h3 class="section-title">What I Do</h3>
			</div>
			<div class="col-xs-12">
				<p class="what-i-do-text">I am a user focused software engineer that has an obsession with efficient design.  I use Web 2.0 technologies to build innovative new ways to experience and interact with digital media.  I thrive in creative, cutting edge, and fast paced environments.</p>
				<br/>
				<p class="body-text">I am currently working on a sharing economy app to utilize unused items laying around people's houses.  A while back, while I was staying in an AirBnB in Hawaii attempting to learn to surf, there was an unused surfboard hanging on the wall.  It seemed to me that there must be thousands of items like this in people's houses across the island and that it would be much more efficient to put them to use.  So, I started building an app to make this easy to do.  I am building the app end to end in Javascript, using MongoDB, ExpressJS, Angular2, and NodeJS and the Ionic Framework to deploy Angular code natively to mobile devices.
				</p>
			</div>
		</div>
	</section>
	<section class="past-projects col-xs-10 col-xs-offset-1 col-md-offset-0">
		<div class="row">
			<div class="col-xs-12">
				<h3 class="section-title">Past Projects</h3>
			</div>
			<div class="projects col-xs-12">
				<div class="project">
					<a href="http://www.kensho.com" target="_blank">
						<h3 class="project-title">Kensho</h3>
						<i class="fa fa-external-link"></i>
					</a>
					<p class="body-text">As the lead UX engineer at Kensho, I was tasked with making the visualization and quantitative analysis of thousands of financial data points a smooth and friendly user experience.  As a result, users are able to draw meaningful conclusions in a matter of minutes, something that would take days to do with traditional software.  I managed my own projects from pencil wireframes to pixel perfect mockups to lighting fast front end JavaScript, HTML5, and CSS3 and ensured everything interfaced seamlessly with our Python/Django REST API.  I also led usability studies to make sure the user experience was smooth and was responsible for making recommendations for improvements when it was not.  In addition, I created and maintained an internal CSS library and provided consistent design and style guidelines for the company.  I also created and implemented the marketing homepage and designed advertisements.</p>
				</div>

				<div class="project">
					<a href="http://www.friendbuy.com" target="_blank">
						<h3 class="project-title">Friendbuy</h3>
						<i class="fa fa-external-link"></i>
					</a>
					<p class="body-text">Friendbuy provides easily customizable embedded sharing widgets to create customer referral programs without the hassle of coding.  As a developer, I dissected PSD widget designs and implemented them in HTML, JavaScript, and CSS.  I was also tasked with creating more user friendly interfaces and updating and maintaining the company's marketing page.</p>
				</div>

				<div class="project">
					<a href="http://education.mit.edu/portfolio_page/vanished/" target="_blank">
						<h3 class="project-title">Vanished - MIT Media Lab / The Education Arcade</h3>
						<i class="fa fa-external-link"></i>
					</a>
					<p class="body-text">Vanished was a curated alternate reality science mystery game designed to teach middle school students about the dangers of global warming.  </p>
				</div>
			</div>
		</div>
	</section>
	<section class="tools col-md-10 col-xs-offset-1 col-md-offset-0">
		<div class="row">
			<div class="col-xs-12">
				<h3 class="section-title">Tools I Use</h3>
			</div>
		</div>
		<div class="logo-row row">
			<div class="col-xs-2 col-xs-offset-1">
				<img class="logo html5" src="../assets/html5.svg">
			</div>
			<div class="col-xs-2">
				<img class="logo css3" src="../assets/css3.svg">
			</div>
			<div class="col-xs-2">
				<img class="logo javascript" src="../assets/javascript.svg">
			</div>
			<div class="col-xs-2">
				<img class="logo angular" src="../assets/angular.svg">
			</div>
			<div class="col-xs-2">
				<img class="logo bootstrap" src="../assets/bootstrap.svg">
			</div>
		</div>
		<div class="logo-row row">
			<div class="col-xs-2 col-xs-offset-2">
				<img class="logo django" src="../assets/django.svg">
			</div>
			<div class="col-xs-2">
				<img class="logo python" src="../assets/python.svg">
			</div>
			<div class="col-xs-2">
				<img class="logo wordpress" src="../assets/wordpress.svg">
			</div>
			<div class="col-xs-2">
				<img class="logo php" src="../assets/php.svg">
			</div>
		</div>
		<div class="logo-row row">
			<div class="col-xs-2 col-xs-offset-1">
				<img class="logo node" src="../assets/nodejs.svg">
			</div>
			<div class="col-xs-2">
				<img class="logo npm" src="../assets/npm.svg">
			</div>
			<div class="col-xs-2">
				<img class="logo sass" src="../assets/sass.svg">
			</div>
			<div class="col-xs-2">
				<img class="logo less" src="../assets/less.svg">
			</div>
			<div class="col-xs-2">
				<img class="logo git" src="../assets/git.svg">
			</div>
		</div>
		<div class="logo-row row">
			<div class="col-xs-2 col-xs-offset-2">
				<img class="logo mongodb" src="../assets/mongodb.svg">
			</div>
			<div class="col-xs-2">
				<img class="logo jquery" src="../assets/jquery.svg">
			</div>
			<div class="col-xs-2">
				<img class="logo typescript" src="../assets/typescript.svg">
			</div>
			<div class="col-xs-2">
				<img class="logo gsuite" src="../assets/gsuite.svg">
			</div>
		</div>
		<div class="logo-row row">
			<div class="col-xs-2 col-xs-offset-1">
				<img class="logo bash" src="../assets/bash.svg">
			</div>
			<div class="col-xs-2">
				<img class="logo grunt" src="../assets/grunt.svg">
			</div>
			<div class="col-xs-2">
				<img class="logo bower" src="../assets/bower.svg">
			</div>
			<div class="col-xs-2">
				<img class="logo creativecloud" src="../assets/creativecloud.svg">
			</div>
			<div class="col-xs-2">
				<img class="logo shopify" src="../assets/shopify.svg">
			</div>
		</div>
	</section>
</div>
