@import "../app.component";

#work {
	@include animation-duration($animation-master);

	.logo-row {
		margin: 30px 0 30px 0;
	}

	.logo {
		width: 100%;
	}

	.html5 { margin-top: 0%; }
	.css3 { margin-top: 0%; }
	.javascript { margin-top: 27%; }
	.angular { margin-top: 24%; }
	.bootstrap { margin-top: 27%; }
	.python { margin-top: 10%; }
	.wordpress { margin-top: 9%; }
	.php { margin-top: 33%; }
	.node { margin-top: 11%; }
	.npm { margin-top: 21%; }
	.sass { margin-top: 0%; }
	.less { margin-top: 17%; }
	.git { margin-top: 18%; }
	.mongodb { margin-top: 0%; }
	.jquery { margin-top: 7%; }
	.typescript { margin-top: 6%; }
	.gsuite { margin-top: 3%; }
	.bash { margin-top: 31%; }
	.grunt { margin-top: 0%; }
	.bower { margin-top: 24%; }
	.creativecloud { margin-top: 30%; }
	.shopify { margin-top: 2%; }

	.projects {
		.project {
			margin-bottom: 30px;

			.project-title {
				display: inline-block;
			}

			i {
				font-size: 10px;
				margin-left: 3px;
			}
		}
	}
}

.page-title { @include animation-duration($animation-master); }

.what-i-do {
	.section-title {
		$wid-delay: .03s;
		@include animation-delay($wid-delay);
		@include animation-duration($animation-master - $wid-delay);
	}

	.what-i-do-text {
		$widt-delay: .06s;
		@include animation-delay($widt-delay);
		@include animation-duration($animation-master - $widt-delay);
	}

	.body-text {
		$bt-delay: .09s;
		@include animation-delay($bt-delay);
		@include animation-duration($animation-master - $bt-delay);
	}
}

.past-projects {
	.section-title {
		$pp-delay: .2s;
		@include animation-delay($pp-delay);
		@include animation-duration($animation-master - $pp-delay);
	}

	.kensho {
		$kensho-delay: .23s;
		@include animation-delay($kensho-delay);
		@include animation-duration($animation-master - $kensho-delay);
	}

	.friendbuy {
		$friendbuy-delay: .26s;
		@include animation-delay($friendbuy-delay);
		@include animation-duration($animation-master - $friendbuy-delay);
	}

	.mit {
		$mit-delay: .29s;
		@include animation-delay($mit-delay);
		@include animation-duration($animation-master - $mit-delay);
	}

	.blinq {
		$blinq-delay: .32s;
		@include animation-delay($blinq-delay);
		@include animation-duration($animation-master - $blinq-delay);
	}
}

.tools {
	$tools-delay: .4s;
	@include animation-delay($tools-delay);
	@include animation-duration($animation-master - $tools-delay);
}




