@import "~compass-mixins/lib/_animate";
@import "~compass-mixins/lib/_compass";

$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

$animation-master: .5s;

$bullet-start-size: 4px;
$bullet-end-size: 8px;
$bullet-container-size: 12px;
$bullet-transition: .2s;

app-root {
	font-family: 'Lato', sans-serif;
}

h1, h2, h3 {
	font-weight: 300;
}

h1 {
	font-size: 30px;
}

h2 {
	font-size: 26px;
}

h3 {
	font-size: 22px;
}

.navbar {
	font-weight: 300;
	position: fixed;
}

.title {
	display: inline-block;
	@media screen and (max-width: $screen-md) {
		margin: 20px 20px 0 0;
	}
}

.content {
	@media screen and (max-width: $screen-md) {
		margin-top: 75px;
	}
}

.navbar {
	background-color: rgba(255, 255, 255, 0.9);
	padding-bottom: 20px;
	z-index: 1000;
}
nav {
	display: inline-block;

	.active {
		font-weight: 700;
		padding: 0px;
	}

	.nav-item {
		@media screen and (min-width: $screen-md) {
			border-bottom: 2px solid white;

		}

		@media screen and (min-width: $screen-md) {
			width: 100%;
			margin-bottom: 3px;
		}

		display: inline-block;
		margin-right: 10px;
		color: #666;
		text-decoration: none;

		.bullet-container {
			@media screen and (max-width: $screen-md) {
				display: none;
			}
			display: inline-block;
			width: $bullet-container-size;
			height: $bullet-container-size;
			padding: (($bullet-container-size - $bullet-start-size) / 2);
			text-align: center;

			.bullet {
				border-radius: 100%;
				width: $bullet-start-size;
				height: $bullet-start-size;
				border: 1px solid #333;
			}
		}

		&:hover, &.active {
			@media screen and (max-width: $screen-md) {
				border-bottom: 2px solid #333;
				@include transition(.05s);
			}
			@media screen and (min-width: $screen-md) {
				.bullet-container {
					padding: (($bullet-container-size - $bullet-end-size) / 2);
					@include transition($bullet-transition);
					.nav-text {
						color: #333;
						@include transition($bullet-transition);
					}
					.bullet {
						width: $bullet-end-size;
						height: $bullet-end-size;
						border: 1px solid #333;
						@include transition($bullet-transition);
					}
				}
			}
		}
	}

	#nav-home {
		$home: 0s;
		@include animation-delay($home);
		@include animation-duration($animation-master - $home);
	}

	#nav-work {
		$work: .1s;
		@include animation-delay($work);
		@include animation-duration($animation-master - $work);
	}
	
	#nav-about {
		$about: .2s;
		@include animation-delay($about);
		@include animation-duration($animation-master - $about);
	}

	#nav-contact {
		$contact: .3s;
		@include animation-delay($contact);
		@include animation-duration($animation-master - $contact);
	}

	.title, .nav-link {
    animation-duration: $animation-master;
	}
}

.page-title {
	margin: 27px 0 15px 0;
}

.section-title {
	text-align: center;
}