@import "~compass-mixins/lib/_animate";

$total-animation: .5s;

nav {
	.active {
		font-weight: bold;
	}

	.nav-link {
		display: inline-block;
		width: 100%;
	}

	#nav-home {
		$home: 0s;
		@include animation-delay($home);
		@include animation-duration($total-animation - $home);
	}

	#nav-work {
		$work: .1s;
		@include animation-delay($work);
		@include animation-duration($total-animation - $work);
	}
	
	#nav-about {
		$about: .2s;
		@include animation-delay($about);
		@include animation-duration($total-animation - $about);
	}

	#nav-contact {
		$contact: .3s;
		@include animation-delay($contact);
		@include animation-duration($total-animation - $contact);
	}

	.title, .nav-link {
    animation-duration: $total-animation;
	}
}