@import "../app.component";

#welcome-container {
	padding: 50px;
	text-align: center;
	.hello {
		font-size: 8em;
		margin-bottom: 50px;
		@media screen and (max-width: $screen-xs) {
			font-size: 3.5em;
		}
	}
	.tagline {
		font-size: 4em;
		font-weight: 300;
		@include animation-delay($animation-master);
		@include animation-duration($animation-master);
		@media screen and (max-width: $screen-xs) {
			font-size: 2em;
		}
	}
}