<div id="home" class="row" [ngClass]="loadAnimation">
	<div class="col-md-10 col-md-offset-1">
		<div class="browser">
			<div class="browser-header">
				<div class="browser-button red"></div>
				<div class="browser-button yellow"></div>
				<div class="browser-button green"></div>
				<div class="tabs">
					<div class="tab">
						<div class="tab-angle left-angle"></div>
						<div class="tab-body">
							<div class="tab-text">Tab</div>
						</div>
						<div class="tab-angle right-angle"></div>
					</div>

					<div class="tab">
						<div class="tab-angle left-angle"></div>
						<div class="tab-body">
							<div class="tab-text">Easter Egg</div>
						</div>
						<div class="tab-angle right-angle"></div>
					</div>

					<div class="tab active">
						<div class="tab-angle left-angle"></div>
						<div class="tab-body">
							<div class="tab-text">
								<i class="fa fa-star"></i>
								Welcome
							</div>
						</div>
						<div class="tab-angle right-angle"></div>
					</div>
				</div>
			</div>
			<div class="url-bar">
				<input type="text" class="form-control input-sm">
			</div>
			<h2>I make technology for your browser</h2>
		</div>
	</div>
</div>
