<div id="home" class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class="browser" [ngClass]="loadAnimation">
			<div class="browser-header">
				<div class="browser-button red" (click)="closeBrowser()"></div>
				<div class="browser-button yellow"></div>
				<div class="browser-button green"></div>
				<div class="tabs">
					<div class="tab" *ngFor="let tab of tabs" (click)="selectTab(tab)" [ngClass]="{'active': tab.active, 'hide-small': tab.hideSmall }">
						<div class="tab-angle left-angle"></div>
						<div class="tab-body">
							<div class="tab-text">
								<i class="fa" [ngClass]="tab.icon"></i>
								{{ tab.title }}
							</div>
						</div>
						<div class="tab-angle right-angle"></div>
					</div>
				</div>
			</div>
			<div class="url-bar">
				<div class="url-buttons">
					<i class="fa fa-arrow-left"></i>
					<i class="fa fa-arrow-right"></i>
					<i class="fa fa-refresh"></i>
					<i class="fa fa-home"></i>
				</div>
				<input type="text" class="form-control input-sm">
			</div>
			<div class="browser-body">
				<app-tab-welcome [hidden]="contentActive != 'app-tab-welcome'"></app-tab-welcome>
				<app-tab-about-site [hidden]="contentActive != 'app-tab-about-site'"></app-tab-about-site>
				<app-tab-easter-eggs [hidden]="contentActive != 'app-tab-easter-eggs'"></app-tab-easter-eggs>
			</div>
		</div>
	</div>
</div>
