@import "~compass-mixins/lib/_animate";
@import "../app.component";

$browser-button-size: 10px;
$browser-border-radius: 5px;
$browser-header-color: #ddd;
$url-bar-color: #f1f1f1;
$url-border-color: #aaa;

$tab-active-color: $url-bar-color;
$tab-inactive-color: #ccc;

$tab-height: 30px;
$tab-angle: 10px;

#home {
	.browser {
		border: 1px solid #aaa;
		border-radius: $browser-border-radius;
		box-shadow: 0 0 10px #bbb;
		margin-top: 10%;
		@include animation-duration($animation-master);

		.browser-header {
			background: $browser-header-color;
			border-radius: $browser-border-radius $browser-border-radius 0px 0px;
			padding-left: 10px;
		}

		.browser-button {
			border-radius: 100%;
			display: inline-block;
			height: $browser-button-size;
			margin: 12px 2px;
			vertical-align: top;
			width: $browser-button-size;

			&.red {
				background: #ef6a5e;
				border: 1px solid #d25145;
			}

			&.yellow {
				background: #f7be4f;
				border: 1px solid #d7a042;
			}

			&.green {
				background: #60c655;
				border: 1px solid #52a640;
			}
		}

		.tabs {
			display: inline-block;
			margin-left: 30px;
			vertical-align: top;
		}

		.tab {
			display: inline-block;
			float: right;
			margin-left: -10px;
			margin-top: 5px;
			position: relative;
			vertical-align: top;
			z-index: 0;
			&:hover { cursor: pointer; }

			.tab-body, .tab-text, .tab-angle { display: inline-block; }

			.tab-body {
				background: $browser-header-color;
				height: $tab-height;
			}

			.tab-text {
				background: $tab-inactive-color;
				border-top: 1px solid $url-border-color;
				color: #666;
				font-size: $tab-height / 2.75;
				line-height: $tab-height - 2px;
				margin-top: 1px;
				padding: 0 6px;
				width: 120px;

				i {
					margin-left: -2px;
					margin-right: 3px;
				}
			}

			.tab-angle, .tab-angle::before, .tab-angle::after {
				font-size: 0px;
				line-height: 0%;
				vertical-align: top;
				width: 0px;
			}

			.tab-angle::before, .tab-angle::after { content: ''; }

			.left-angle {
				border-bottom: $tab-height solid $url-border-color;
				border-left: 10px solid transparent;
				margin-right: -4px
			}

			.left-angle::before {
				border-bottom: $tab-height solid $tab-inactive-color;
				border-left: $tab-angle solid transparent;
				margin-left: ($tab-angle - 1px) * -1;
			}

			.right-angle {
				border-left: $tab-angle solid $url-border-color;
				border-top: $tab-height solid transparent;
				margin-left: -4px;
			}

			.right-angle::after {
				border-left: $tab-angle solid $tab-inactive-color;
				border-top: $tab-height solid transparent;
				margin-left: ($tab-angle + 1px) * -1;
			}

			&.active {
				.left-angle::before { border-bottom: $tab-height solid $tab-active-color; }
				.right-angle::after { border-left: $tab-angle solid $tab-active-color; }
				.tab-text {
					background: $tab-active-color;
					color: #333;
				}
				border-bottom: 1px solid $tab-active-color;
				z-index: 1;
			}
		}

		.url-bar {
			background: $url-bar-color;
			border-color: $url-border-color;
			border-style: solid;
			border-width: 1px 0 1px 0;
			display: flex;
			margin-top: -1px;
			padding: 4px 7px;

			.url-buttons, .input-sm { display: flex; }

			i {
				color: $url-border-color;
				line-height: 26px;
				margin: 0 4px;
			}

			.input-sm {
				height: 26px;
				margin-left: 6px;
				margin-right: 2px;
				padding: 2px 10px;
			}
		}

		.browser-body { min-height: 500px; }

		.browser-content {
			display: none;
			&.active { display: block; }
		}
	}
}
